body {
	background: linear-gradient(-45deg, #ffffff, #adb9cf, #686990, #3e3b6e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    display: block;
    margin: 0px;
}

.top-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 100px;    
    box-shadow: inset 0 0 0 100% rgb(128, 133, 166);
}

.icon {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    color: rgb(22, 54, 61);
    font-size: 48px;
    font-family: Verdana, sans-serif;
}

h1 + p {
    color: rgb(67, 45, 86);
    font-size: 24px;
    font-family: 'Times New Roman', sans-serif;
    margin: auto;
    width: 50%;
    text-align: center;
}

h2 {
    color:azure;
    position: relative;
    justify-content: center;
    justify-self: center;
    font-size: 48px;
}

ul > li {
    color: azure;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
    margin: auto;
    width: 40%;
    text-align: left;
}

li + p {
    color: azure;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
    margin: auto;
    width: 40%;
    text-align: left;
}

li > img {
    float: left;
}

.cat {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.project-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px;
    gap: 30px;
    justify-self: center;
    text-align: center;

}

.name-tag {
    text-align: center;
    justify-items: center;
}

.project {
    font-size: 36px;
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
    grid-column: 2/2;
}

.mondrian, .birthday, .pricing, .coming-soon {
    position: relative;
    height: 10%;
    width: 100%;
    font-weight: 700;
    text-decoration: none;
    color: rgb(5, 32, 141);
}

.mondrian-image, .pricing-image, .birthday-image, .coming-soon-image {
    height: 90%;
    width: 100%;
}

.bottom-container {
    margin-top: 50px;
}

.para {
    color: rgb(22, 54, 61);
    font-size: 24px;
    font-family: 'Times New Roman', serif;
    margin: auto;
    width: 50%;
    text-align: center;
}

.about, .contact {
    color: rgb(121, 173, 78);
    font-size: 36px;
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}